/JavaApplication5/build/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/JavaApplication7/nbproject/private/
/JavaApplication7/build/
/DZ_01_02/nbproject/private/
/DZ_01_02/build/
/DZ_01_03/nbproject/private/
/DZ_01_03/build/
/DZ_02_01/nbproject/private/
/DZ_02_01/build/
/project/nbproject/private/
/project/build/
/polimorf/nbproject/private/
/polimorf/build/
/interf/nbproject/private/
/interf/build/
/interf/dist/
/DZ_03_01/nbproject/private/
/DZ_03_01/build/
/DZ_03_01/dist/
/project/dist/
/WorkFile/nbproject/private/
/WorkFile/build/
/WorkFileIO/nbproject/private/
/WorkFileIO/build/
/WorkFileIO/dist/
/DZ_04_01/nbproject/private/
/MyCounter/build/
/DZ_04_01/build/
/Collections/nbproject/private/
/Collections/build/
/JavaApplication20/nbproject/private/
/Singleton/nbproject/private/
/Singleton/build/
/Singleton/dist/
/publisher_subscriber/nbproject/private/
/publisher_subscriber/build/
