/JavaApplication5/build/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/JavaApplication7/nbproject/private/
/JavaApplication7/build/
/DZ_01_02/nbproject/private/
/DZ_01_02/build/
/DZ_01_03/nbproject/private/
/DZ_01_03/build/
/DZ_02_01/nbproject/private/
/DZ_02_01/build/
/project/nbproject/private/
/project/build/
/polimorf/nbproject/private/
/polimorf/build/
